@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;400;700&display=swap');

.MuiButton-contained {
    color: white!important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
    background-color: #161515 !important;
}

/* .MuiPaper-elevation1 {
    box-shadow: 12px 7px 11px 5px rgb(34 82 125 / 51%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%)!important;
} */

.MuiPaper-elevation1 {
    box-shadow: 4px 3px 10px 1px rgb(34 82 125 / 51%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%)!important;
    max-height: 100% !important;
    height: 188px !important;
}

span.Count {
    font-size: 100px;
}

.MuiPaper-root {
    color: rgb(83 76 76 / 87%)!important;
    padding: 5px;
}


h3{
    font-size: 20px;
    color: #636363;
    text-align: center;
    margin:0;
    margin-top: 5px;
    padding:0;
    font-family: 'Lato', sans-serif !important;
    
   
}
.MuiPaper-rounded {
    border-radius: 4px;
    cursor: pointer;
  
}

img {
   
    max-width: 100%;
    max-height: 100%;
    

}

.hipb {
    max-width: 100%;
    width: 80px;
  
}

.webTop {
    width : 300px;
}

.powerBy {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    
}

.breachText {
    font-size: 15px;
    font-family: 'Lato', sans-serif !important;
    text-transform: uppercase;
    text-align: center;
}